body{
        background-image: url(https://cdn.worldvectorlogo.com/logos/pearl-jam-alive.svg);
        background-repeat: no-repeat;
        background-size:30% 30%;
        background-position: right bottom
    }
