* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans"; 
}

body {
    background-image: url(./SLIKI/BG.png);
    background-repeat: no-repeat;
    width: 2062px;
    height: 1700px;
}

.all {
    width: 1730px;
    height: 1235px;
    margin-top: 155px;
    margin-left: 163px;
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
}

    .col-1 {
        width: 366px;
        height: 1233px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
    }

        .first {
            width: 366px;
            height: 458px;
            background-color: #242424;
            border-radius: 20px;
            object-fit: cover;
            position: relative;
        }

            .topic {
                position: absolute;
                color: #ffffff;
                font-size: 24px;
                margin-top: 42px;
                margin-left: 130px;
                font-weight: lighter;
            }

            .circle {
                position: absolute;
                margin-top: 100px;
                margin-left: 80px;
            }

            .circles {
                position: absolute;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
            }

            .round {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-top: 350px;
                margin-left: 34px;
            }

                .teals {
                    background-color: #4db2ac;
                    color: #242424;
                    font-weight: bold;
                    text-align: center;
                    font-size: 12px;
                    padding: 16px;
                }

                .yellows {
                    background-color: #edec93;
                    color: #242424;
                    font-weight: bold;
                    text-align: center;
                    font-size: 12px;
                    padding: 16px;
                }

                .greys {
                    background-color: #cacaca;
                    color: #242424;
                    font-weight: bold;
                    text-align: center;
                    font-size: 12px;
                    padding: 16px;
                }

                .whites {
                    background-color: #ffffff;
                    color: #242424;
                    font-weight: bold;
                    text-align: center;
                    font-size: 12px;
                    padding: 16px;
                }

    .second {
        width: 366px;
        height: 526px;
    }

        .sec-top {
            width: 366px;
            height: 318px;
            margin-top: 85px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

            .temperature {
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                position: relative;
       }

                .degree {
                    font-size: 110px;
                    color: #ffffff;
                    position: absolute;
                    margin-top: 100px;
                    margin-left: 100px;
                    font-weight: bold;
                }
        
            .weather {
                color: #ffffff;
                position: absolute;
                margin-top: 253px;
                margin-left: 115px;
            }

                .cloud {
                    position: absolute;
                    font-size: 47px;
                }

                .weather-description {
                    position: absolute;
                    margin-left: 60px; 
                    font-size: 18px;
                }

        .sec-bottom {
            width: 366px;
            height: 208px;
            background-color: #242424;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            }

            .weather-icons {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                align-content: flex-start;
                padding-top: 22px;
                padding-bottom: 20px;
            }

                .icons {
                    padding-left: 25px;
                    margin-top: 15px;
                    backface-visibility: hidden;
                    font-size: 25px;
                }

            .week-days {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;
                font-size: 10px;
                padding-top: 23px;
                padding-left: 30px;
            }

                .days {
                    text-transform: uppercase;
                    color: #ffffff;
                    font-weight: bold;
                    margin-top: 14px;
                    margin-bottom: 15px;
                }

                .dates {
                    color: #49a5a0;
                }

            .days-degrees {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                align-content: flex-start;
                color: #c8c77f;
                padding-top: 22px;
                padding-left: 130px;
            }

                .day-degree {
                    font-size: 10px;
                    font-weight: bold;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }

    .third {
        width: 366px;
        height: 80px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 80px;
    }

        .third-left {
            width: 260px;
            height: 80px;
            background-color: #242424;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            margin-top: 80px;
        }

            .left-info {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .info {
                    color: #ffffff;
                    display: flex;
                    flex-direction: row; 
                }

                    .today-info {
                        padding: 20px;
                        margin-left: 23px;
                    }

                    .small-degree {
                        color: #ffffff;
                        font-size: 50px;
                        font-weight: bold;
                        margin-top: 5px;
                    }

        .third-right {
            width: 105px;
            height: 80px;
            background-color: #4db2ac;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            margin-top: 80px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
            .text-description {
                color: #ffffff;
                font-weight: 10px;
            }

            .right-content {
                padding-left: 28px;
                padding-top: 15px;
            }

/* kolona 1 done */

    .col-2 {
        width: 368px;
        height: 1230px;
        border-radius: 30px;
        margin-left: 114px;
    }

        .first-col-two {
            width: 368px;
            height: 630px;
        }

            .col-two-top {
                width: 368px;
                height: 340px;
                background-image: url(./SLIKI/Photo.png);
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                position: relative;
            }

                .year {
                    position: absolute;
                    color: #ffffff;
                    font-size: 24px;
                    top:90px;
                    left: 153px;
                }

                .play-date {
                    position: absolute;
                    color: #ffffff;
                    font-size: 37px;
                    padding-left: 20px;
                    padding-right: 20px;
                    top: 130px;
                    font-weight: bold;
                }

                    .play-left {
                        margin-right: 68px;
                    }

                    .play-right {
                        margin-left: 58px;
                    }

                    .today {
                        position: absolute;
                        width: 110px;
                        height: 24px;
                        border-radius: 24px;
                        border: none;
                        color: #fff;
                        font-size: 10px;
                        text-align: center;
                        background-color: #4db2ac;
                        margin-top: 345px;
                        margin-top: 185px;
                        margin-left: 125px;
                    }
                
                .one-week {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    align-content: stretch;
                    background-color: #2e2d3650; 
                    width: 368px;
                    height: 50px;
                    position: absolute;
                    color: #ffffff;
                    bottom: 0px;
                    padding: 0px 29px;
                }

                    .Day1-7 {
                        color: #ffffff;
                    }
        
            .col-two-bottom {
                width: 368px;
                height: 290px;
                position: relative;
                background-color: #2e2d36;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }
            
                .calendar-month {
                    list-style-type: none;
                    color: #ffffff;
                    font-size: 10px;
                    font-weight: bold;
                }

                    .calendar {
                        list-style-type: none;
                        color: #ffffff; 
                        padding: 26px 0px;
                    }

                    .break {
                        padding: 16px 26px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: flex-end;
                        font-weight: bold;
                    }

                        .passive {
                            color: #7e7e7e;
                        }

        .second-col-two {
            width: 368px;
            height: 525px;
        }

            .second-col-two-top {
                width: 368px;
                height: 372px;
                background-image: url(./SLIKI/sony.png);
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                margin-top: 76px;
            }

                .price {
                    position: absolute;
                    width: 109px;
                    height: 46px;
                    border: none;
                    color: #fff;
                    font-size: 21px;
                    background-color: #4db2ac;
                    border-top-left-radius: 30px;
                    border-bottom-left-radius: 30px;
                    margin-top: 38px;
                    margin-left: 259px;
                }

                .menu-line {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    align-content: flex-start;
                    padding-right: 27px;
                    padding-left: 255px;
                    width: 368px;
                    height: 44px;
                    background-color: #2e2d3691; 
                    position: absolute;
                    margin-top: 330px;
                }

        .second-col-two-bottom {
            width: 368px;
            height: 153px;
            background-color: #1f211f;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }

            .headphones {
                font-size: 30px;
                color: #edec93;
                padding-top: 34px;
                padding-left: 40px;
                font-weight: lighter;
            }

            .headphones-description {
                color: #ffffff;
                font-size: 15px;
                padding-left: 40px;
                font-family: sans-serif;
                margin-top: 10px;
            }

/* kolona 2 - end */

    .col-3 {
        width: 767px;
        height: 1231px;
        margin-left: 114px;
    }

        .first-col-three {
            width: 767px;
            height: 510px;
            background-image: url(./SLIKI/caffee.png);
            border-radius: 30px;
        }
            .play {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                border: 3px solid white;
                background-color: #444c45a4; 
                align-content: center;
                position: absolute;
                margin-top: 175px;
                margin-left: 337px;
            }

                .playB {
                    margin: 28px;
                }

            .play-duration {
                width: 767px;
                height: 75px;
                background-color: #2424247e;
                opacity: 0.8;
                position: absolute;
                margin-top: 436px;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
            }

        

                .mini-play {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #49a5a0;
                    align-content: center;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 15px;
                    border: 2px solid white;
                    }

                    .first-play {
                        margin: 12px;
                        height: 15px; 
                    }

                    .duration-start {
                        color: #ffffff;
                        position: absolute;
                        margin-top: 30px;
                        margin-left: 100px;
                    }

                    .duration-end {
                        color: #ffffff;
                        position: absolute;
                        margin-top: 30px;
                        margin-left: 497px;
                    }

                    .time-duration-start {
                        width: 174px;
                        height: 8px;
                        position: absolute;
                        border-bottom-left-radius: 5px;
                        border-top-left-radius: 5px;
                        background-color: rgba(39, 189, 181);
                        margin-top: 39px;
                        margin-left: 148px;
                    }

                    .time-duration-end {
                        width: 162px;
                        height: 8px;
                        position: absolute;
                        border-bottom-right-radius: 5px;
                        border-top-right-radius: 5px;
                        background-color:rgba(255, 255, 255, 1);
                        margin-top: 39px;
                        margin-left: 322px;
                    }

                .duration-buttons {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: 20px;
                    margin-left: 20px;
                }

                    .audio {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgba(73, 165, 160, 1);
                        margin-top: 20px;
                        margin-left: 573px;
                        border: 2px solid rgba(255, 255, 255, 1);
                        position: absolute;
                    }

                        .volume {
                            margin: 12px;
                            height: 15px; 
                        }

                    .hd {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 1);
                        margin-top: 20px;
                        margin-left: 640px;
                        color: #242424;
                        position: absolute;
                    }
    
                        .hd-text {
                            height: 15px; 
                            position: absolute;
                            font-weight: bold;
                            margin: 8px;
                        }

                    .dashed {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: rgba(73, 165, 160, 1);
                        margin-top: 20px;
                        margin-left: 710px;
                        border: 2px solid rgba(255, 255, 255, 1);
                        position: absolute;
                    }

                        .dash {
                            margin: 12px;
                            height: 15px; 
                            background-color: transparent;
                        }

        .social-media {
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
        }

            .fb {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #1f211f;
                position: absolute;
                margin-top: 43px;
            }

                .facebook {
                    margin-top: 20px;
                    margin-left: 17px;
                }

            .twitter {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #ffffff;
                position: absolute;
                margin-top: 43px;
                margin-left: 120px;
            }

                .twit {
                    padding: 20px;
                }

            .g {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #1f211f;
                position: absolute;
                margin-top: 43px;
                margin-left: 240px;
                
            }

                .google {
                    margin: 20px 5px;
                }

            .insta {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                background-color: #1f211f;
                position: absolute;
                margin-top: 43px;
                margin-left: 370px;
                
            }

                .instagram {
                    padding: 20px;
                }

            .search {
                width: 275px;
                height: 80px;
                border-radius: 20px;
                background-color: #1f211f;
                color: #ffffff;
                margin-top: 90px;
                margin-left: 490px;
                text-align: center;
                border-style: none;
            }

    .third-col-three {
        width: 767px;
        height: 490px;
        background-color: #1f211f;
        border-radius: 30px;
        margin-top: 232px;
    }

        .log-in-topic {
            width: 767px;
            height: 50px;
            text-align: center;
            color: #ffffff;
            position: absolute;
            margin-top: 20px;
            border-bottom: solid white; solid #ffffff;
        }

        .signing {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding-top: 88px;
        }

                .log {
                    width: 290px;
                    height: 48px;
                    border-radius: 30px;
                    border: solid white; solid #ffffff;
                    background-color: transparent;
                    color: #ffffff;
                    margin: 10px;
                }

                .forgot-pass {
                    color: #d4d386;
                    margin-left: 200px;
                }

                .create {
                    background-color: #4db2ac;
                    margin-top: 30px;
                }
        
        .end-bottom {
            width: 767px;
            height: 70px;
            margin-top: 20px;
            background-color: #333333;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

            .account {
                color: rgb(200, 199, 127);
                text-align: center;
                position: absolute;
                height: 20px;
                margin-left: 300px;
                margin-top: 20px;
                font-weight: bold;
            }

        .vertical-line {
            height: 200px;
            width: 300px;
            border-left: 1px solid rgba(255, 255, 255, 0.356);
            margin-top: -400px;
            margin-left: 50%;
        }

        .connect-with {
            position: absolute;
            color: white;
            margin-left: 500px;
            margin-top: -180px;
            display: inline;
            font-size: 25px;
            font-weight: lighter;
        }


                .fb-two {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #1f211f;
                    position: absolute;
                    margin-top: -100px;
                    margin-left: 450px;
                    -webkit-box-shadow: 0 0 5px 2px #fff;
                    box-shadow: 0 0 5px 2px #fff;
                }
    
                    .facebook-2 {
                        padding: 10px;
                    }
    
                .twitter-two {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    position: absolute;
                    margin-top: -100px;
                    margin-left: 550px;
                }
    
                    .twit-2 {
                        padding: 10px;
                    }
    
                .g-two {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    background-color: #1f211f;
                    position: absolute;
                    margin-top: -100px;
                    margin-left: 650px;
                    box-shadow: 2px 2px 4px white;
                    -webkit-box-shadow: 0 0 5px 2px #fff;
                    box-shadow: 0 0 5px 2px #fff;
                    
                }
    
                    .google-2 {
                        padding: 10px 3px;
                    }
          
               
