* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat";
}

body {
    width: 100%;
    height: 100vh; 
    position: relative;
}

    .left-container {
        height: 100vh;
        width: 75%;
        background-color:rgba(135, 170, 211, 0.6);
        float: left;
    }

        .logo {
            width: 3%;
            height: 4%;
            float: left;
            padding: 2.3% 0 0 6%; 
        }

        .hello {
            text-transform: uppercase;
            font-size: 250px;
            font-weight: 800;
            padding: 22% 23.5%;
            letter-spacing: 1.1px;
        }

        .illustration {
            width: 9%;
            height: 9.1%;
            position: absolute;
            padding: 22.5% 47.7%;
            overflow: hidden;
        }

        a.projects {
            text-transform: uppercase;
            font-size: 30px;
            /* color:#EFEEEA; */
            font-weight: bolder;
            position: absolute;
            text-decoration: none;
            z-index: 10000;
        }
        .project {
            bottom: 3%;
            left: 6%;
            font-weight: bolder;
            color:  #EFEEEA;
        }
        .about {
            top: 3%;
            right: 6%;
            font-weight: bolder;
            color: rgb(135, 170, 211);
        }
        .contact {
            bottom: 3%;
            right: 6%;
            font-weight: bolder;
            color:rgb(135, 170, 211);
        }

    .right-container {
        height: 100vh;
        width: 25%;
        background-color: #EFEEEA;
        float: left;
    }

        .iAm {
            font-size: 30px;
            font-weight: 800;
            text-transform: uppercase;
            position: absolute;
            top: 60%;
            left: 71%;
        }

.mid-container {
    border: 10px solid white;
    width: 40%;
    height: 80%;
    position: absolute;
    top: 9%;
    left: 53%;
}

/* contact styles */

